body {
    box-sizing: border-box;
    background-color: rgb(253, 251, 251);
}

#cabecalho {
    position: fixed;
    top: 0;
}

img {
    display: block;
    margin-top: 9%;
    padding: 5px;
    border-radius: 50%;
}

#sobremim {
    font-size: 15px;
    text-align: center;
    color: rgb(255,20,147);
    line-height: 30px;
    font-family: fantasy;
}